[submodule "external/zsh/zsh-syntax-highlighting"]
	path = external/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "external/vim/vim-easymotion"]
	path = external/vim/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "external/vim/gundo.vim"]
	path = external/vim/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule "external/vim/neocomplcache"]
	path = external/vim/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "external/vim/snipmate.vim"]
	path = external/vim/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "external/vim/git-vim"]
	path = external/vim/git-vim
	url = https://github.com/motemen/git-vim.git
[submodule "external/vim/AutoComplPop"]
	path = external/vim/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "external/vim/tagbar"]
	path = external/vim/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "external/vim/tabular"]
	path = external/vim/tabular
	url = https://github.com/godlygeek/tabular.git
