[user]
    name = Lung-Pin Chang
    email = changlp@cs.nctu.edu.tw

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	net = log --graph --oneline --all
	ci = commit
	co = checkout
	st = status
